.aw-form-group {
  label {
    display: block;
    opacity: 0.4;
    font-size: $p1S;
    font-weight: 200;
  }
  margin-bottom: 30px;
  input,
  select,
  textarea {
    background-color: transparent;
    border: none;
    border-bottom: solid 0.3px $cWhite;
    opacity: 0.6;
    transition: 0.3s;
    width: 100%;
    color: $cWhite;
    &:focus {
      opacity: 1;
    }
  }
  textarea {
  }
}
